<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.name">Name</span></dt>
                <dd>
                    <span>{{book.name}}</span>
                </dd>
                <dt><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.dateOfPublishing">Date Of Publishing</span></dt>
                <dd>
                    <span>{{book.dateOfPublishing}}</span>
                </dd>
                <dt><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.coverPhoto">Cover Photo</span></dt>
                <dd>
                    <div *ngIf="book.coverPhotoId">
                        <a [routerLink]="['/media', book.coverPhotoId, 'view']">{{book.coverPhotoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.author">Author</span></dt>
                <dd>
                    <div *ngIf="book.authorId">
                        <a [routerLink]="['/author', book.authorId, 'view']">{{book.authorId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jasperExamplev1App.jasperExamplev1Book.publishers">Publishers</span></dt>
                <dd>
                    <span *ngFor="let publishers of book.publishers; let last = last">
                        <a [routerLink]="['/publisher', publishers?.id, 'view' ]">{{publishers.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
